h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}
h2 {
  font-size: 27px;
}
strong {
  font-weight: 600;
}

/*Cabecalho */
.item-lista-cabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/*Sessão Hero */
h1 {
  font-size: 35px;
  font-weight: 600px;
}

.hero-paragrafo {
  font-size: 19px;
}
.hero-botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/*Seçao Conteudos Gratuitos */

.gratuito-h2 {
  font-size: 27px;
  font-weight: 400;
}

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 23px;
  font-weight: 700;
}

.gratuito-link-lista {
  text-decoration: none;
}

.gratuito-item-lista {
  font-size: 19px;
  text-decoration: none;
}

/*Seçao Diferenciais */

.diferenciais-h2 {
  font-size: 27px;
}

.diferenciais-p {
  font-size: 19px;
}

.diferenciais-h3 {
  font-size: 23px;
  color: #005e88;
  font-weight: 600px;
}

.diferenciais p {
  font-size: 16px;
}
.diferenciais-h3-Empresas {
  font-size: 23px;
}

.diferenciais-h3-Empresas a {
  font-size: 23px;
  color: #005e88;
}

/*Seçao oque Falam */
.oquefalam-span {
  font-weight: 600;
  color: #7a40be;
}

.oquefalam-botao {
  font-size: 24px;
  color: #7a40be;
  text-decoration: none;
}

/*Seção na Mídia */

.namidia-h2 {
  font-size: 27px;
  color: #7a40be;
}

/*Seção Blog da Hastag */

.bloghashtag-h2 {
  font-size: 27px;
  color: #7a40be;
}
